//---- Colors
$primary-color: #1E81CE ;
$secundary-color: #181823 ;
$tertiary-color: #C0EEF2 ;
$background-color: #E9F8F9;

$text-color: #686868;

//---- Fonts 
$principal-font: 'Courier New', Courier, monospace;
$secundary-font:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
