<p class="HomePage__p">Rellene la tabla para crear un archivo CSV con los datos especificados</p>

<div class="TableContainer">
    <form class="Table" id="Table">
    </form >

    <div class="TableContainer__options">
        <button id="submitTable" class="ButtonComponent TableContainer__button">Crear</button>
        <button id="cancelTable" class="ButtonComponent TableContainer__button TableContainer__button--cancel">Cancelar</button>
    </div>
</div>

<script src="js/index.js" type="module"></script>