<p class="HomePage__p">Administre sus archivos CSV de manera facil y rapida.</p>

<div class="OptionsHomePage">
    <p class="OptionsHomePage__p">Seleccione la operacion que desea realizar</p>

    <div class="OptionsHomePage__buttonsContainer">
        <a href="/submit" class="ButtonComponent OptionsHomePage__button">
            <svg width="30px" height="30px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#ffff"><path d="M6 20h12M12 16V4m0 0l3.5 3.5M12 4L8.5 7.5" stroke="#ffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
            Subir CSV
        </a>
        <a href="/create" class="ButtonComponent OptionsHomePage__button">
            <svg width="30px" height="30px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#ffff"><path d="M6 12h6m6 0h-6m0 0V6m0 6v6" stroke="#ffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
            Crear CSV
        </a>
    </div>
</div>

<div class="HomePage__AdContainer">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7225386088525941"
    crossorigin="anonymous"></script>
    <!-- Anuncio Horizontal -->
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-7225386088525941"
        data-ad-slot="1034039287"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>

<div class="CharactersHomePage">
    <div class="CharactersHomePage__card">
        <svg width="40px" height="40px" stroke-width="1.7" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000"><path d="M12 4v4M4 8l2.5 2.5M17.5 10.5L20 8M3 17h3M12 17l1-6M18 17h3M8.5 20.001H4A9.956 9.956 0 012 14C2 8.477 6.477 4 12 4s10 4.477 10 10c0 2.252-.744 4.33-2 6.001L15.5 20" stroke="#000000" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round"></path><path d="M12 23a3 3 0 100-6 3 3 0 000 6z" stroke="#000000" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round"></path></svg>
        <h4 class="CharactersHomePage__title">Rapido</h4>
        <p class="CharactersHomePage__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet ullam veniam mollitia perferendis libero ipsam?</p>
    </div>
    <div class="CharactersHomePage__card">
        <svg width="40px" height="40px" stroke-width="1.7" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000"><path d="M21 7.353v9.294a.6.6 0 01-.309.525l-8.4 4.666a.6.6 0 01-.582 0l-8.4-4.666A.6.6 0 013 16.647V7.353a.6.6 0 01.309-.524l8.4-4.667a.6.6 0 01.582 0l8.4 4.667a.6.6 0 01.309.524z" stroke="#000000" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round"></path><path d="M3.528 7.294l8.18 4.544a.6.6 0 00.583 0l8.209-4.56M12 21v-9" stroke="#000000" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round"></path></svg>
        <h4 class="CharactersHomePage__title">Sencillo</h4>
        <p class="CharactersHomePage__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet ullam veniam mollitia perferendis libero ipsam?</p>
    </div>
    <div class="CharactersHomePage__card">
        <svg width="40px" height="40px" stroke-width="1.7" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000"><path d="M12 14a2 2 0 100-4 2 2 0 000 4z" stroke="#000000" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round"></path><path d="M21 12c-1.889 2.991-5.282 6-9 6s-7.111-3.009-9-6c2.299-2.842 4.992-6 9-6s6.701 3.158 9 6z" stroke="#000000" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round"></path></svg>
        <h4 class="CharactersHomePage__title">Visualización</h4>
        <p class="CharactersHomePage__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet ullam veniam mollitia perferendis libero ipsam?</p>
    </div>
    <div class="CharactersHomePage__card">
        <svg width="40px" height="40px" stroke-width="1.7" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000"><path d="M5 18L3.13 4.913a.996.996 0 01.774-1.114l7.662-1.703a2 2 0 01.868 0L20.096 3.8c.51.113.848.596.774 1.114L19 18c-.07.495-.5 3.5-7 3.5S5.07 18.495 5 18z" stroke="#000000" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round"></path></svg>
        <h4 class="CharactersHomePage__title">Seguridad</h4>
        <p class="CharactersHomePage__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet ullam veniam mollitia perferendis libero ipsam?</p>
    </div>
</div>