<p class="HomePage__p HomePage__p--Message">Rellene la tabla con los datos que quieres trabajar.<br>No es necesario que esten en orden</p>


<div class="TableContainer">
    <form action="/api/create" method="post" id="Table" class="Table">
        
    </form>
    <p class="TableContainer__p">Los recuadros que no sean numeros o esten vacios seran salteados</p>
    <button id="createIntervalButton" class="ButtonComponent TableContainer__button" form="Table">Crear intervalo</button>
    <button id="comeBackButton" class="ButtonComponent TableContainer__button TableContainer__button--cancel">Volver</button>

</div>

<script src="js/index.js" type="module"></script>
