<p class="HomePage__p HomePage__p--Message">Rellene la tabla con los datos que quieres trabajar.<br>No es necesario que esten en orden</p>


<div class="TableContainer">
    <form id="Table" class="Table" method="post" action="/api/intervals">
        
    </form>
    <p class="TableContainer__p">Los recuadros que no sean numeros o esten vacios seran salteados</p>

    <div class="TableContainer__intervalOptions">
        <h3 class="TableContainer__h3">Opciones de los intervalos</h3>
        <div class="TableContainer__inputContainer">
            <label for="intervalType-input">En que te quieres basar?</label>
            <select name="" id="intervalType-input" class="Table__input">
                <option value="amplitude">Amplitud</option>
                <option value="classes">Numero de clases</option>
            </select>
        </div>
        <span style="font-size: 2em;">:</span>
        <div class="TableContainer__inputContainer">
            <label for="quantity-input">Cantidad</label>
            <input type="number" id="quantity-input" class="Table__input">
        </div>
    </div>

    <button id="createIntervalButton" class="ButtonComponent TableContainer__button" form="Table">Crear intervalo</button>
    <button id="comeBackButton" class="ButtonComponent TableContainer__button TableContainer__button--cancel">Volver</button>

</div>

<div class="HomePage__AdContainer">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7225386088525941"
    crossorigin="anonymous"></script>
    <!-- Anuncio Horizontal -->
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-7225386088525941"
        data-ad-slot="1034039287"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>

<script src="js/index.js" type="module"></script>
