<footer class="Footer">
    <div class="Footer__box">
        <span>© 2023 - 2024</span>
        <span>Iconos utilizados de <a href="https://iconoir.com/" target="_blank">Iconoir</a></span>
        <span>Lautaro Silverii</span>
    </div>
    <div class="Footer__box">
        <a href="/">Inicio</a>
        <a href="/create">Creación de archivo</a>
        <a href="/submit">Lectura de archivo</a>
    </div>
</footer>