<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link rel="shortcut icon" href="logo-min.png" type="image/png">
    <% if(ads){ %>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7225386088525941"
        crossorigin="anonymous"></script>
    <% } %>
    <title>CSV Translator</title>
    <meta name="description" content="Crear, visualizar y modificar archivos .csv de manera rápida y sencilla. También se puede crear una tabla de frecuencias agrupadas en intervalos, mediante los datos proporcionados, dependiendo la amplitud o cantidad de clases deseadas.">
    <meta name="keywords" content="csv, .csv, archivos, editar, crear, modificar, visualizar, ver, estadistica, frecuencia, intervalos, agrupados, datos, amplitud, numero de clases"/>
</head>